@import "../dist/webkit-sassui-ratio-image.scss";

.test-webkit-sassui-ratio-image{
  border:1px solid red;
}


.container1{
  background: #f68;
  width: 800px;
  height: 1%;
  overflow: hidden;
  margin: 10px auto;

  >.item{
    width: 30%;
    padding-bottom: 44.44%;
    float: left;
  }
}

