/*wsui-ratio-image Start*/
$wsui-ratio-image-options: (
) !default;

.wsui-ratio-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  .is-ratio {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
/*wsui-ratio-image End*/
